openapi: 3.0.1
info:
  title: Clinical Data Service REST API
  description: |-
    The APIs related to the Clinical Data which generates sample FHIR JSON based on ABDM profiles, with or without provided input data points. Creates various clinical documents (e.g., DiagnosticReport, DischargeSummary etc.) based on provided inputs and cancer types.

    Some useful links:
    - [The Clinical Data repository](https://github.com/KCDO/ncg-cancer-modules-abdm)
    - [The source API definition for the Clinical Data](https://github.com/KCDO/ncg-cancer-modules-abdm/blob/main/src/main/resources/swagger-clinical-data.yaml)
  version: v1
servers:
- url: http://localhost:8080
tags:
- name: Clinical Data APIs
paths:
  /clinicalartifacts/opconsultation:
    post:
      tags:
      - Clinical Data APIs
      summary: This Api is used to generate fhir clinical-data.
      operationId: generateClinicalDataJSON
      parameters:
      - name: Content-Type
        in: header
        description: application/json
        required: true
        schema: {}
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ClinicalData'
        required: false
      responses:
        "200":
          description: Successfully generated
          content:
            '*/*':
              schema:
                type: string
      x-codegen-request-body-name: body
components:
  schemas:
    Address:
      type: object
      properties:
        type:
          type: string
        houseName:
          type: string
        district:
          type: string
        state:
          type: string
        city:
          type: string
        pinCode:
          type: string
        country:
          type: string
    AdverseEvent:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
    Allergy:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
    AttachmentDetail:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        attachment:
          type: string
    BioChemistry:
      type: object
      properties:
        panels:
          type: array
          items:
            $ref: '#/components/schemas/PanelDetail'
    CBC:
      type: object
      properties:
        panels:
          type: array
          items:
            $ref: '#/components/schemas/PanelDetail'
    CervicalCancer:
      type: object
      properties:
        tests:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetail'
    ClinicalData:
      type: object
      properties:
        outputClinicalArtifactTypes:
          type: array
          items:
            type: string
        patientDetails:
          $ref: '#/components/schemas/PatientData'
        clinicalInformation:
          $ref: '#/components/schemas/ClinicalInformation'
        diagnostics:
          $ref: '#/components/schemas/Diagnostic'
        lungCancer:
          $ref: '#/components/schemas/LungCancer'
        oralCancer:
          $ref: '#/components/schemas/OralCancer'
        cervicalCancer:
          $ref: '#/components/schemas/CervicalCancer'
    ClinicalInformation:
      type: object
      properties:
        drugAllergy:
          type: array
          items:
            $ref: '#/components/schemas/Allergy'
        comorbidities:
          type: array
          items:
            $ref: '#/components/schemas/Comorbidity'
        adverseEvents:
          type: array
          items:
            $ref: '#/components/schemas/AdverseEvent'
        pastMedicalHistory:
          type: array
          items:
            $ref: '#/components/schemas/PastMedicalHistory'
        pastSurgicalHistory:
          type: array
          items:
            $ref: '#/components/schemas/PastSurgicalHistory'
        mentalHealthAssesment:
          type: array
          items:
            $ref: '#/components/schemas/MentalHealthAssesment'
        menstruationHistory:
          type: array
          items:
            $ref: '#/components/schemas/MenstruationHistory'
        examinationDetails:
          type: array
          items:
            $ref: '#/components/schemas/InvestigationAdvice'
        surgicalSummaryWithPostOPCourse:
          type: array
          items:
            $ref: '#/components/schemas/SurgicalSummaryWithPostOPCourse'
        ongoingDrugs:
          type: array
          items:
            $ref: '#/components/schemas/OngoingDrugs'
        otnotes:
          type: object
          additionalProperties:
            type: string
        pacnotes:
          type: object
          additionalProperties:
            type: string
    Comorbidity:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
    DateTimeType:
      type: object
      properties:
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
        id:
          type: string
        extension:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        disallowExtensions:
          type: boolean
        tzSign:
          type: boolean
        tzHour:
          type: integer
          format: int32
        tzMin:
          type: integer
          format: int32
        asV3:
          type: string
        dateTime:
          type: boolean
        precision:
          type: string
          enum:
          - YEAR
          - MONTH
          - DAY
          - MINUTE
          - SECOND
          - MILLI
        value:
          type: string
          format: date-time
        year:
          type: integer
          format: int32
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
        timeZone:
          $ref: '#/components/schemas/TimeZone'
        month:
          type: integer
          format: int32
        millis:
          type: integer
          format: int32
        day:
          type: integer
          format: int32
        nanos:
          type: integer
          format: int64
        secondsMilli:
          type: number
          format: float
        valueAsCalendar:
          type: string
          format: date-time
        timeZoneZulu:
          type: boolean
        today:
          type: boolean
        valueAsString:
          type: string
        primitive:
          type: boolean
        empty:
          type: boolean
        extensionFirstRep:
          $ref: '#/components/schemas/Extension'
        idElement:
          $ref: '#/components/schemas/StringType'
        idBase:
          type: string
        resource:
          type: boolean
        booleanPrimitive:
          type: boolean
        xhtml:
          $ref: '#/components/schemas/XhtmlNode'
    Diagnostic:
      type: object
      properties:
        cbc:
          $ref: '#/components/schemas/CBC'
        bioChemistry:
          $ref: '#/components/schemas/BioChemistry'
        biopsyHistopathologyReport:
          type: string
    Extension:
      type: object
      properties:
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
        id:
          type: string
        extension:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        disallowExtensions:
          type: boolean
        url:
          type: string
        value:
          $ref: '#/components/schemas/Type'
        empty:
          type: boolean
        urlElement:
          $ref: '#/components/schemas/UriType'
        valueAsPrimitive:
          $ref: '#/components/schemas/IPrimitiveTypeObject'
        extensionFirstRep:
          $ref: '#/components/schemas/Extension'
        idElement:
          $ref: '#/components/schemas/StringType'
        idBase:
          type: string
        primitive:
          type: boolean
        resource:
          type: boolean
        dateTime:
          type: boolean
        booleanPrimitive:
          type: boolean
        xhtml:
          $ref: '#/components/schemas/XhtmlNode'
    IPrimitiveType:
      type: object
      properties:
        value:
          type: object
          properties: {}
        valueAsString:
          type: string
        empty:
          type: boolean
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
    IPrimitiveTypeObject:
      type: object
      properties:
        value:
          type: object
          properties: {}
        valueAsString:
          type: string
        empty:
          type: boolean
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
    Identifier:
      type: object
      properties:
        hipId:
          type: string
        domain:
          type: string
    InvestigationAdvice:
      type: object
      properties:
        name:
          type: string
        occurrenceDateTime:
          $ref: '#/components/schemas/DateTimeType'
        requester:
          type: string
        reason:
          type: string
    Location:
      type: object
      properties:
        line:
          type: integer
          format: int32
        column:
          type: integer
          format: int32
    LungCancer:
      type: object
      properties:
        tests:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetail'
    MenstruationHistory:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    MentalHealthAssesment:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    OngoingDrugs:
      type: object
      properties:
        name:
          type: string
        effectiveDate:
          type: string
          format: date-time
        assertedDate:
          type: string
          format: date-time
        reference:
          type: string
        note:
          type: string
    OralCancer:
      type: object
      properties:
        tests:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetail'
    PanelDetail:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        attachment:
          type: string
        tests:
          type: array
          items:
            $ref: '#/components/schemas/TestDetail'
    PastMedicalHistory:
      type: object
      properties:
        name:
          type: string
        note:
          type: string
        onsetDateTime:
          type: string
          format: date-time
    PastSurgicalHistory:
      type: object
      properties:
        name:
          type: string
        note:
          type: string
        onsetDateTime:
          type: string
          format: date-time
    PatientData:
      required:
      - gender
      type: object
      properties:
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        age:
          type: integer
          format: int32
        dob:
          type: string
          format: date-time
        gender:
          type: string
        phoneNumber:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        height:
          type: number
          format: double
        weight:
          type: number
          format: double
        abhaAddress:
          type: string
        identifier:
          $ref: '#/components/schemas/Identifier'
        bloodGroup:
          type: string
    StringType:
      type: object
      properties:
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
        id:
          type: string
        extension:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        disallowExtensions:
          type: boolean
        valueNotNull:
          type: string
        primitive:
          type: boolean
        value:
          type: string
        empty:
          type: boolean
        valueAsString:
          type: string
        extensionFirstRep:
          $ref: '#/components/schemas/Extension'
        idElement:
          $ref: '#/components/schemas/StringType'
        idBase:
          type: string
        resource:
          type: boolean
        dateTime:
          type: boolean
        booleanPrimitive:
          type: boolean
        xhtml:
          $ref: '#/components/schemas/XhtmlNode'
    SurgicalSummaryWithPostOPCourse:
      type: object
      properties:
        name:
          type: string
        startDate:
          $ref: '#/components/schemas/DateTimeType'
        endDate:
          $ref: '#/components/schemas/DateTimeType'
        reason:
          type: string
        bodySite:
          type: string
        outcome:
          type: string
        followUp:
          type: string
    TestDetail:
      type: object
      properties:
        name:
          type: string
        loincCode:
          type: string
        unitOfMeasurement:
          type: string
        result:
          type: number
          format: double
    TimeZone:
      type: object
      properties:
        displayName:
          type: string
        id:
          type: string
        dstsavings:
          type: integer
          format: int32
        rawOffset:
          type: integer
          format: int32
    Type:
      type: object
      properties:
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
        id:
          type: string
        extension:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        disallowExtensions:
          type: boolean
        empty:
          type: boolean
        extensionFirstRep:
          $ref: '#/components/schemas/Extension'
        idElement:
          $ref: '#/components/schemas/StringType'
        idBase:
          type: string
        primitive:
          type: boolean
        resource:
          type: boolean
        dateTime:
          type: boolean
        booleanPrimitive:
          type: boolean
        xhtml:
          $ref: '#/components/schemas/XhtmlNode'
    UriType:
      type: object
      properties:
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
        id:
          type: string
        extension:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        disallowExtensions:
          type: boolean
        primitive:
          type: boolean
        value:
          type: string
        empty:
          type: boolean
        valueAsString:
          type: string
        extensionFirstRep:
          $ref: '#/components/schemas/Extension'
        idElement:
          $ref: '#/components/schemas/StringType'
        idBase:
          type: string
        resource:
          type: boolean
        dateTime:
          type: boolean
        booleanPrimitive:
          type: boolean
        xhtml:
          $ref: '#/components/schemas/XhtmlNode'
    XhtmlNode:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Location'
        nodeType:
          type: string
          enum:
          - Element
          - Text
          - Comment
          - DocType
          - Document
          - Instruction
        name:
          type: string
        attributes:
          type: object
          additionalProperties:
            type: string
        childNodes:
          type: array
          items:
            $ref: '#/components/schemas/XhtmlNode'
        content:
          type: string
        emptyExpanded:
          type: boolean
        value:
          type: string
        empty:
          type: boolean
        valueAsString:
          type: string
        formatCommentsPre:
          type: array
          items:
            type: string
        formatCommentsPost:
          type: array
          items:
            type: string
        firstElement:
          $ref: '#/components/schemas/XhtmlNode'
        nsDecl:
          type: string
        noPretty:
          type: boolean
        para:
          type: boolean
x-original-swagger-version: "2.0"
